@media(max-width: 767px){
    
   

}

@media(min-width: 768px) and (max-width: 991px){
    


}

@media(min-width: 992px){

    body{
        background-color: rgb(0, 33, 45);
    }

    
        







}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

header strong{
    color: rgb(0, 157, 224);
}

header h1{
    text-transform: uppercase;
    font-weight: normal;
}

header li:first-child a{
    color: rgb(0, 96, 124);
}